<template>
  <form @submit.prevent="submitForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input type="text" required v-model="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-img :src="image"></ion-img>
        </ion-thumbnail>
        <ion-button fill="clear" @click="takePhoto">
          <ion-icon slot="start" :icon="cameraOutline"></ion-icon>
          Take Photo
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea rows="5" v-model="description"></ion-textarea>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button type="submit" expand="block">Save</ion-button>
    </div>
  </form>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { Camera, CameraResultType, CameraSource } from '@capacitor/camera';

import {
  IonList,
  IonItem,
  IonLabel,
  IonInput,
  IonThumbnail,
  IonImg,
  IonTextarea,
  IonButton,
  IonIcon,
} from '@ionic/vue';

import { cameraOutline } from 'ionicons/icons';
import { MemoryData } from '../../store';

export default defineComponent({
  name: 'CreateMemoryForm',
  components: {
    IonList,
    IonItem,
    IonLabel,
    IonInput,
    IonThumbnail,
    IonImg,
    IonTextarea,
    IonButton,
    IonIcon,
  },
  data() {
    return {
      title: '',
      image: '',
      description: '',
      cameraOutline,
    };
  },
  emits: ['save-memory'],
  methods: {
    async takePhoto() {
      const photo = await Camera.getPhoto({
        resultType: CameraResultType.Uri,
        source: CameraSource.Camera,
        quality: 60,
      });

      this.image = photo.webPath || '';
    },
    submitForm() {
      const memoryData: MemoryData = {
        title: this.title,
        image: this.image,
        description: this.description,
      };

      this.$emit('save-memory', memoryData);
    },
  },
});
</script>
