<template>
  <ion-list>
    <memory-list-item
      v-for="memory in memories"
      :key="memory.id"
      :memory="memory"
    ></memory-list-item>
  </ion-list>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { IonList } from '@ionic/vue';
import MemoryListItem from './MemoryListItem.vue';

export default defineComponent({
  name: 'MemoryList',
  components: {
    IonList,
    MemoryListItem,
  },
  props: {
    memories: {
      type: Array,
      required: true,
    },
  },
});
</script>
