<template>
  <ion-img :src="image" :alt="title"></ion-img>
  <h2 class="ion-text-center">{{ title }}</h2>
  <p class="ion-text-center">{{ description }}</p>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { IonImg } from '@ionic/vue';

export default defineComponent({
  name: 'MemoryOverview',
  components: {
    IonImg,
  },
  props: {
    image: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: false,
    },
  },
});
</script>
