/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #570df8;
  --ion-color-primary-rgb: 87,13,248;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #4d0bda;
  --ion-color-primary-tint: #6825f9;

  --ion-color-secondary: #f000b8;
  --ion-color-secondary-rgb: 240,0,184;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #d300a2;
  --ion-color-secondary-tint: #f21abf;

  --ion-color-tertiary: #2da498;
  --ion-color-tertiary-rgb: 45,164,152;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #289086;
  --ion-color-tertiary-tint: #42ada2;

  --ion-color-success: #009485;
  --ion-color-success-rgb: 0,148,133;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #008275;
  --ion-color-success-tint: #1a9f91;

  --ion-color-warning: #ff9900;
  --ion-color-warning-rgb: 255,153,0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e08700;
  --ion-color-warning-tint: #ffa31a;

  --ion-color-danger: #ff5724;
  --ion-color-danger-rgb: 255,87,36;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #e04d20;
  --ion-color-danger-tint: #ff683a;

  --ion-color-dark: #3d4451;
  --ion-color-dark-rgb: 61,68,81;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #363c47;
  --ion-color-dark-tint: #505762;

  --ion-color-medium: #a5aab1;
  --ion-color-medium-rgb: 165,170,177;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #91969c;
  --ion-color-medium-tint: #aeb3b9;

  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255,255,255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;

  /* --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2; */
}
