<template>
  <base-layout page-title="Add a Memory" page-default-back-link="/memories">
    <create-memory-form @save-memory="saveMemory"></create-memory-form>
  </base-layout>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import CreateMemoryForm from '../components/memories/CreateMemoryForm.vue';
import { MemoryData } from '../store';

export default defineComponent({
  name: 'AddMemoryPage',
  components: {
    CreateMemoryForm,
  },
  methods: {
    saveMemory(memoryData: MemoryData) {
      this.$store.dispatch('addMemory', memoryData);
      this.$router.replace('/memories');
    },
  },
});
</script>
