<template>
  <base-layout
    :page-title="loadedMemory ? loadedMemory.title : 'Loading...'"
    page-default-back-link="/memories"
  >
    <h2 v-if="!loadedMemory">Could not find a memory for the given id.</h2>
    <memory-overview
      v-else
      :image="loadedMemory.image"
      :title="loadedMemory.title"
      :description="loadedMemory.description"
    ></memory-overview>
  </base-layout>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { Memory } from '../store';
import MemoryOverview from '../components/memories/MemoryOverview.vue';

export default defineComponent({
  name: 'MemoryDetailsPage',
  components: {
    MemoryOverview,
  },
  data() {
    return {
      memoryId: this.$route.params.id,
    };
  },
  computed: {
    loadedMemory(): Memory {
      return this.$store.getters.memory(this.memoryId);
    },
  },
});
</script>
