<template>
  <base-layout pageTitle="All Memories">
    <template v-slot:actions-end>
      <ion-button router-link="/memories/add">
        <ion-icon slot="icon-only" :icon="addOutline"></ion-icon>
      </ion-button>
    </template>
    <memory-list :memories="memories"></memory-list>
  </base-layout>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { IonButton, IonIcon } from '@ionic/vue';
import { addOutline } from 'ionicons/icons';
import MemoryList from '../components/memories/MemoryList.vue';

export default defineComponent({
  name: 'MemoriesPage',
  components: {
    IonButton,
    IonIcon,
    MemoryList,
  },
  data() {
    return {
      addOutline,
    };
  },
  computed: {
    memories() {
      return this.$store.getters.memories;
    },
  },
});
</script>
